/* Import other CSS files first */
@import './components/font.css';
@import './components/header.css';
@import './pages/blog.css';
@import './pages/course.css';
@import './pages/service.css';
@import './pages/intro.css';

/* Import Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

[x-cloak] {
    display: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    margin: 0;
    padding: 0;
}

.bg-custom {
    background: linear-gradient(135deg, rgba(250, 185, 150, 0.8), rgba(240, 236, 233, 0.8), rgba(184, 208, 227, 0.8)), url('https://media.istockphoto.com/id/1159776728/vi/vec-to/n%E1%BB%81n-h%E1%BB%93ng-satin-l%E1%BB%A5a-m%E1%BB%81m-m%E1%BA%A1i-minh-h%E1%BB%8Da-vect%C6%A1.jpg?s=612x612&w=0&k=20&c=wDPUmSRNkkrCe6lJ55UJkWyAdSU3NuqM-3uO130xqkU=');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bg-modal-front {
    background: linear-gradient(135deg, rgba(255, 87, 27, 0.8), rgba(255, 247, 247, 0.8), rgba(238, 95, 19, 0.8)), url('https://media.istockphoto.com/id/1159776728/vi/vec-to/n%E1%BB%81n-h%E1%BB%93ng-satin-l%E1%BB%A5a-m%E1%BB%81m-m%E1%BA%A1i-minh-h%E1%BB%8Da-vect%C6%A1.jpg?s=612x612&w=0&k=20&c=wDPUmSRNkkrCe6lJ55UJkWyAdSU3NuqM-3uO130xqkU=');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bg-modal-back {
    background: linear-gradient(135deg, #a32d10, rgba(255, 255, 255, 0.8), rgba(170, 62, 4, 0.8)), url('https://media.istockphoto.com/id/1159776728/vi/vec-to/n%E1%BB%81n-h%E1%BB%93ng-satin-l%E1%BB%A5a-m%E1%BB%81m-m%E1%BA%A1i-minh-h%E1%BB%8Da-vect%C6%A1.jpg?s=612x612&w=0&k=20&c=wDPUmSRNkkrCe6lJ55UJkWyAdSU3NuqM-3uO130xqkU=');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
